<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="amit.apps.aurora_raw3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider android:name=".CachedFileProvider"
            android:authorities="amit.apps.aurora_raw3"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name=".notifications.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.MyFirebaseInstanceIDService"
            android:permission="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".FullscreenYoutubeActivity"
            android:enabled="true"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".PlaylistItemsActivity"
            android:launchMode="singleInstance"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" android:mimeType="application/octet-stream" android:pathPattern=".*\\.pt"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>

            <intent-filter
                android:label="@string/app_name">
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" android:mimeType="application/pt" android:pathPattern=".*\\.pt"
                    tools:ignore="AppLinkUrlError"/>
            </intent-filter>

            <intent-filter
                android:label="@string/app_name">
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" android:mimeType="*/*" android:pathPattern=".*\\.pt"
                    android:host="*"/>
            </intent-filter>

            <intent-filter
                android:label="@string/app_name">
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="content" android:mimeType="application/octet-stream"/>
            </intent-filter>
        </activity>
        <activity android:name=".VideolyricsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>